.App {
  text-align: center;
}

.table-container {
  display: flex;
  justify-content: space-evenly;
}

.table {
  margin-top: 50px;
  margin-right: 10px;
  margin-left: 10px;
  width: 55%;
}

.headerColor {
  background-color: #00003C !important;
}

.redirect-logo:hover {
  cursor: pointer;
}